.event-section {
    position: relative;
    padding: 6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1504598578017-40d9b776f1bc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
    z-index: 1;
}
.event-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 128, 128, 0.7); 
    border-top-left-radius: 15vw;
    border-bottom-right-radius: 15vw;
    z-index: -1;
  }
  
  .event-section .section-title h2 {
    color: var(--white-color);
  }
.event-box {
    background-color: white;
    border-radius: 15px;
    padding: 2px;
    overflow: hidden;
    margin-bottom: 20px;
}
.event-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.event-box:hover .event-image img{
    transform: scale(1.1);
}
.event-box a {
    text-decoration: none;
    color: inherit;
}
.event-box .px-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-box .event-date {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--pri-color);
}
.event-box .event-date, .h3 {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.event-box:hover .event-date {
    background-color: var(--sec-color);
}
.event-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: smaller;
    margin-bottom: 10px;
}

.event-item {
    display: flex;
    align-items: center;
}
.event-box h3:hover {
    color: var(--sec-color);
}
.icon {
    margin-right: 8px;
    color: #6c757d;
}

@media (max-width: 480px) {
    .event-details {
        font-size: smaller;
        gap: 5px;
    }
    .event-section .col-md-6:not(:last-child) {
        margin-bottom: 20px;
    }
    
}