@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.App {
  text-align: center;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #888;
  scroll-behavior: smooth;
}
body {
  background: #f3f0eb;
}

:root{
  --pri-color:#FF5B00;
  --sec-color:#008080;
  --white-color:#ffffff;
  --black-color:#000000;
  --dark-color: #0c0c0c;
  --light: rgb(226, 218, 212);
  --lighter: rgb(247, 245, 243);
  --border: rgba(0, 0, 0, .1);
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: #160801;
  font-weight: 400;
  font-family: "Patrick Hand", cursive;
}
.title-h2 {
  font-size: 60px;
}
.section-title {
  text-align: center;
  margin-bottom: 48px;
  padding-bottom: 12px;
}
p {
  color: #666666;
}
.subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--pri-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.rounded {
  border-radius: 15px;
}
.item-btn {
  background-color: var(--pri-color);
  padding: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--white-color);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}
.item-btn:hover {
  background-color: var(--sec-color);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}